*{
    box-sizing: border-box;
}
/* ==== FULL SCREEN HEADER ==== */
body {
    background: url('https://codeberry-curriculum-assets.s3.eu-central-1.amazonaws.com/wsc/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349;
}
/* Single-direction margin declaration to establish vertical rhythm. */
h1,
h2,
h3,
ul,
ol,
p,
img {
    margin-bottom: 1.5rem;
}
.cover {
    background: url('https://codeberry-curriculum-assets.s3.eu-central-1.amazonaws.com/wsc/wedding-landing-cover.jpg') no-repeat 70% center/cover;
    display: table;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.text-wrapper{
    display: table-cell;
    vertical-align: middle;
}
.text{
    margin: 0 auto;
    color: hsla(0, 0%, 100%, .9);
    background: hsla(100, 0%, 0%, .5);
    padding: .625rem;
}
.headline {
    font-size: 3.15rem;
    color: #d2ba87;
        margin-bottom: 0;
        /* To negate the effect of the single-direction margin declaration. */
        font-family: Great Vibes;
}
.tagline {
    font-size: 1.25rem;
    letter-spacing: .15rem;
}
.tagline::after {
    display: block;
    content: "";
    background-color: #c2cfc5;
    height: 1px;
        width: 12.515625rem;
        margin: .5rem auto;
}
.date {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    vertical-align: middle;
}
.date::before,
.date::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin:0 .5rem
}