*{
    box-sizing: border-box;
}
/* ==== FULL SCREEN HEADER ==== */
body {
    background: url('https://codeberry-curriculum-assets.s3.eu-central-1.amazonaws.com/wsc/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349;
}
/* Single-direction margin declaration to establish vertical rhythm. */
h1,
h2,
h3,
ul,
ol,
p,
img {
    margin-bottom: 1.5rem;
}
.locations,
.program,
.gifts,
.faq,
.contact {
    width: 95%;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
    text-align: center;
}
.cover {
    background: url('https://codeberry-curriculum-assets.s3.eu-central-1.amazonaws.com/wsc/wedding-landing-cover.jpg') no-repeat 70% center/cover;/*A background tulajdonságban van egy új rész: 70% center/cover. Ezt a rövidítést (shorthand) akkor használjuk, amikor egyszerre szeretnénk megadni a háttér méretét és pozícióját. Az első része (70% center) adja meg a kép pozícióját. Jelen esetben ez kissé balra mozgatja a fotót az X tengelyen, hogy a menyasszony feje ne lógjon ki a képernyőről.*/
    display: table;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.text-wrapper{
    display: table-cell;
    vertical-align: middle;
}
.text{
    margin: 0 auto;
    color: hsla(0, 0%, 100%, .9);
    background: hsla(100, 0%, 0%, .5);
    padding: .625rem;
}
.headline {
    font-size: 3.15rem;
    color: #d2ba87;
        margin-bottom: 0;
        /* To negate the effect of the single-direction margin declaration. */
     font-family: Great Vibes;
}
.tagline {
    font-size: 1.25rem;
    letter-spacing: .15rem;
}
.tagline::after {
    display: block;
    content: "";
    background-color: #c2cfc5;
    height: 1px;
        width: 12.515625rem;
        margin: .5rem auto;
}
.date {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    vertical-align: middle;
}
.date::before,
.date::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin:0 .5rem
}
.locations{
    text-align: center;
    margin-top:1.5rem;
    margin-bottom: 1.5rem;

}
section h2{
    font-family: Great Vibes;
    font-size: 3rem;
}
.blur{
    font-family:muli ;
    padding: 1rem;
    line-height: 1.5;
    
}
 section img{
    width: 100px;
    height: 100px;
    margin:1rem;
 }
 section h3{
    font-size: 2rem;
 }